<div class="container">
  <h3>登録済み定時業務一覧</h3>
</div>
<div class="container">
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>業務</th>
        <th>所要時間（分）</th>
      </tr>
    </thead>
    <tbody>
      <% @regular_works.each do |regular_work| %>
        <tr>
          <td><%= regular_work.id %></td>
          <td><%= regular_work.name %></td>
          <td><%= regular_work.time_required %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
