<div class="centered">
  <h1 class="margin_bottom_50px">定時業務</h1>
</div>
<div class="centered">
  <% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
  <% end %>
</div>
<div class="search_form">
  <form>
    <input type="search" name="search" placeholder="キーワードを入力">
    <input type="submit" name="submit" value="検索">
  </form>
  <%= link_to "新規登録", :new_regular_work, class: "new_button" %>
</div>
<%= render 'shared/works_index', works:@regular_works %>
