<div class="container">
  <h1>定時業務</h1>
</div>
<div class="container">
  <h2>新規登録</h2>
</div>
<%= form_with model: @regular_work do |f| %>
  <%= render 'shared/work_registration', f:f %>
  <div class="table_bottom">
    <%= f.submit "登録"%>
    　<%= link_to "一覧に戻る", :regular_works, class: "immutable_color_link" %>
  </div>
<% end %>
