<div class="centered">
  <h1 class="page_title">商品管理業務</h1>
</div>
<div class="centered">
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>業務</th>
        <th>所要時間（分）</th>
      </tr>
    </thead>
    <tbody>
      <% @product_management_works.each do |product_management_work| %>
        <tr>
          <td><%= product_management_work.id %></td>
          <td><%= product_management_work.name %></td>
          <td><%= product_management_work.time_required %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
