<div class="centered">
  <h1 class="margin_bottom_50px">清掃業務</h1>
</div>
<div class="centered">
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>業務</th>
        <th>所要時間（分）</th>
      </tr>
    </thead>
    <tbody>
      <% @cleaning_works.each do |cleaning_work| %>
        <tr>
          <td><%= cleaning_work.id %></td>
          <td><%= cleaning_work.name %></td>
          <td><%= cleaning_work.time_required %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
