<div class="container">
  <h1 class="page_title">納品業務</h1>
</div>
<div class="container">
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>業務</th>
        <th>所要時間（分）</th>
      </tr>
    </thead>
    <tbody>
      <% @deliver_works.each do |deliver_work| %>
        <tr>
          <td><%= deliver_work.id %></td>
          <td><%= deliver_work.name %></td>
          <td><%= deliver_work.time_required %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
